<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dc="http://typo3.org/ns/Slub/SlubDigitalcollections/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:variable name="xpath"><dc:xpath xpath='//mets:amdSec/mets:digiprovMD/mets:mdWrap[@OTHERMDTYPE="DVLINKS"]/mets:xmlData/dv:links/dv:sru' /></f:variable>

<f:if condition="{xpath}">
    <f:variable name="search"><f:translate key="sru.search" extensionName="slub_digitalcollections" /></f:variable>
    <li class="submenu search">
        <a href="#" title="{search}">{search}</a>
    </li>
</f:if>

</html>