<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<ul>
    <f:comment><!-- [document links] ----------------------------- --></f:comment>
    <f:render partial="Kitodo/DocumentFunctions/Submenu/Links" arguments="{_all}" />

    <f:comment><!-- [downloads] ----------------------------- --></f:comment>
    <f:render partial="Kitodo/DocumentFunctions/Submenu/Downloads" arguments="{_all}" />

    <f:comment><!-- [double page switch (on/off)] ------------------------- --></f:comment>
    <f:render partial="Kitodo/DocumentFunctions/Submenu/DoublePage" arguments="{_all}" />

    <f:comment><!-- [fulltext switch (on/off)] -------------------------- --></f:comment>
    <f:render partial="Kitodo/DocumentFunctions/Submenu/Fulltext" arguments="{_all}" />

    <f:comment><!-- [page grid switch (on/off)] -------------------------- --></f:comment>
    <f:render partial="Kitodo/DocumentFunctions/Submenu/PageGrid" arguments="{_all}" />

    <f:comment><!-- [SRU Search] -------------------------- --></f:comment>
    <f:render partial="Kitodo/DocumentFunctions/Submenu/SruSearch" arguments="{_all}" />
</ul>

</html>
