/* Styles for the find-based search */

.tx_find {
    .facets {
        margin-top: 0;
        h3 {
            margin-top: 0;
        }
    }
    .hero-section {
        &::after {
            display: none;
        }
        .hero-search {
            margin-top: 0px;
        }
    }
}
