<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:section name="PageView">
    <div class="document-view">
        <f:if condition="{gp-pagegrid} == 1">
            <f:then>
                <f:cObject typoscriptObjectPath="plugin.tx_dlf_pagegrid" />
            </f:then>
            <f:else>
                <f:cObject typoscriptObjectPath="plugin.tx_dlf_mediaplayer" />
            </f:else>
        </f:if>
        <f:render partial="KitodoDocumentFunctions" arguments="{_all}" />

        <f:comment><!-- [Cover-Image, Video, Equalizer and Marker buttons in page view] -------------------------- --></f:comment>
        <div class="view-functions">
            <f:if condition="{gp-pagegrid} == 1">
                <f:else>
                    <ul>
                        <f:cObject typoscriptObjectPath="plugin.tx_dlf_audiovideotool" />
                    </ul>
                </f:else>
            </f:if>
        </div>

    </div>
</f:section>

</html>