{namespace dc=Slub\SlubDigitalcollections\ViewHelpers}
<f:section name="Matomo">
<script>
  var _paq = _paq || [];
  <f:if condition="{settings.matomo.setdomains}">
  _paq.push(["setDomains", ["{settings.matomo.setdomains}"]]);
  </f:if>
  <f:if condition="{gp-id}>0">
    <f:then>
      <f:comment>track only valid ids, no table of contents etc.</f:comment>
      <f:alias map="{collections: '{dc:collections(kitodoId:\"{gp-id}\",solrHost:\"{settings.collections.solrHost}\",solrTimeout:\"{settings.collections.solrTimeout}\")}'}">
        <f:if condition="{collections.response.docs.0.collection}">
          <f:then>
            <f:for each="{collections.response.docs.0.collection}" as="collection" iteration="iterator">
            _paq.push(['setCustomVariable', '{iterator.cycle}', 'Digitale Kollektionen', '{collection}', 'visit']);
            </f:for>
          </f:then>
          <f:else>
            <f:for each="{dc:xpath(xpath:'(//mets:mets/mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:relatedItem[@type=\"series\"]/mods:titleInfo/mods:title[@lang=\"ger\"])', returnArray:'TRUE')}" as="collection" iteration="iterator">
            _paq.push(['setCustomVariable', '{iterator.cycle}', 'Digitale Kollektionen', '{collection}', 'visit']);
            </f:for>
          </f:else>
        </f:if>
      </f:alias>
    </f:then>
  </f:if>
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//{settings.matomo.hostname}/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{settings.matomo.siteId}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//{settings.matomo.hostname}/matomo.php?idsite={settings.matomo.siteId}&rec=1" style="border:0;" alt="" /></p></noscript>
</f:section>
