{namespace dc=Slub\DigitalCollections\ViewHelpers}
<f:section name="Toolbox">

<div class="tx-dlf-toolbox">
    <div class="tx-dlf-tools tx-dlf-window tx-dlf-rightwin tx-dlf-open">
        <div class="tx-dlf-minimize"></div>
        <div class="tx-dlf-wincontainer">
            <h3 class="tx-dlf-windowhead"><f:translate key='kitodo.toolbox' extensionName='slub_template' /><span class="tx-dlf-moveit"></span></h3>
            <div class="tx-dlf-wincontent tx-dlf-scrollbar">
                <ul>
                    <f:comment><!-- [Page downloads (PDF)] ------------------------------ --></f:comment>
                    <li class="pdf-download has-multilinks">
                        <span class="multilink-label"><f:translate key="kitodo.tools.download.pdf.pdfDownload" extensionName="slub_template" /></span>
                        <div class="multilinks">
                            <f:link.external
                              uri="<dc:downloadLinks type='work' />"
                              class="download-document"
                              target="_blank"
                              title="<f:translate key='kitodo.tools.download.work' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.work"  extensionName="slub_template" />
                            </f:link.external>
                          <f:alias map="{xpathDownload: '//mets:fileSec/mets:fileGrp[@USE=\'DOWNLOAD\']//mets:file/mets:FLocat/@xlink:href'}">
                                <f:if condition="{gp-double} == 1">
                                    <f:then>
                                        <f:link.external
                                            uri="<dc:xpath xpath='({xpathDownload})[{gp-page}]' />"
                                            class="download-page pdf left"
                                            target="_blank"
                                            title="<f:translate key='kitodo.tools.download.pdf.leftPage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.pdf.leftPage" extensionName="slub_template" />
                                        </f:link.external>
                                        <f:link.external
                                            uri="<dc:xpath xpath='({xpathDownload})[{gp-page2}]' />"
                                            class="download-page pdf right"
                                            target="_blank"
                                            title="<f:translate key='kitodo.tools.download.pdf.rightPage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.pdf.rightPage" extensionName="slub_template" />
                                        </f:link.external>
                                    </f:then>
                                    <f:else>
                                        <f:link.external
                                            uri="<dc:xpath xpath='({xpathDownload})[{gp-page}]' />"
                                            class="download-page pdf singlepage"
                                            target="_blank"
                                            title="<f:translate key='kitodo.tools.download.pdf.singlePage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.pdf.singlePage" extensionName="slub_template" />
                                        </f:link.external>
                                    </f:else>
                                </f:if>
                          </f:alias>
                        </div>
                    </li>

                    <f:comment><!-- [Image downloads (JPG)] ----------------------------- --></f:comment>
                    <f:if condition="{gp-double} == 1">
                        <f:then>
                            <li class="jpg-download has-multilinks">
                                <span class="multilink-label"><f:translate key="kitodo.tools.download.image.imageDownload" extensionName="slub_template" /></span>
                                <div class="multilinks">
                                    <f:link.external
                                        uri="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"MAX\"]//mets:file/mets:FLocat/@xlink:href)[{gp-page}]' />"
                                        class="download-page image left"
                                        target="_blank"
                                        title="<f:translate key='kitodo.tools.download.image.leftPage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.image.leftPage" extensionName="slub_template" />
                                    </f:link.external>
                                    <f:link.external
                                        uri="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"MAX\"]//mets:file/mets:FLocat/@xlink:href)[{gp-page2}]' />"
                                        class="download-page image right"
                                        target="_blank"
                                        title="<f:translate key='kitodo.tools.download.image.rightPage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.image.rightPage" extensionName="slub_template" />
                                    </f:link.external>
                                </div>
                            </li>
                        </f:then>
                        <f:else>
                            <li class="jpg-download">
                                <f:link.external
                                    uri="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"MAX\"]//mets:file/mets:FLocat/@xlink:href)[{gp-page}]' />"
                                    class="download-page image"
                                    target="_blank"
                                    title="<f:translate key='kitodo.tools.download.image.singlePage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.image.singlePage" extensionName="slub_template" />
                                </f:link.external>
                            </li>
                        </f:else>
                    </f:if>

                    <f:comment><!-- [Fulltext downloads (XML)] -------------------------- --></f:comment>
                    <f:if condition="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"FULLTEXT\"]/mets:file[1]/mets:FLocat/@xlink:href)[1]' />">
                        <f:if condition="{gp-double} == 1">
                            <f:then>
                                <li class="xml-download has-multilinks">
                                    <span class="multilink-label"><f:translate key="kitodo.tools.download.fulltext.fulltextDownload" extensionName="slub_template" /></span>
                                    <div class="multilinks">
                                        <f:link.external
                                            uri="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"FULLTEXT\"]//mets:file/mets:FLocat/@xlink:href)[{gp-page}]' />"
                                            class="download-page fulltext left"
                                            target="_blank"
                                            title="<f:translate key='kitodo.tools.download.fulltext.leftPage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.fulltext.leftPage" extensionName="slub_template" />
                                        </f:link.external>
                                        <f:link.external
                                            uri="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"FULLTEXT\"]//mets:file/mets:FLocat/@xlink:href)[{gp-page2}]' />"
                                            class="download-page fulltext right"
                                            target="_blank"
                                            title="<f:translate key='kitodo.tools.download.fulltext.rightPage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.fulltext.rightPage" extensionName="slub_template" />
                                        </f:link.external>
                                    </div>
                                </li>
                            </f:then>
                            <f:else>
                                <li class="xml-download">
                                    <f:link.external
                                        uri="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"FULLTEXT\"]//mets:file/mets:FLocat/@xlink:href)[{gp-page}]' />"
                                        class="download-page ocr"
                                        target="_blank"
                                        title="<f:translate key='kitodo.tools.download.fulltext.singlePage' extensionName='slub_template' />"><f:translate key="kitodo.tools.download.fulltext.singlePage" extensionName="slub_template" />
                                    </f:link.external>
                                </li>
                            </f:else>
                        </f:if>
                      </f:if>

                    <f:comment><!-- [Fulltext switch (on/off)] -------------------------- --></f:comment>
                    <f:if condition="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"FULLTEXT\"]/mets:file[1]/mets:FLocat/@xlink:href)[1]' />">
                        <f:then>
                            <li class="fulltext">
                                <a class="select switchoff" id="tx-dlf-tools-fulltext" title="<f:translate key='kitodo.tools.fulltext.switch-on' extensionName='slub_template' />" data-dic="fulltext-on:<f:translate key='kitodo.tools.fulltext.switch-on' extensionName='slub_template' />;fulltext-off:<f:translate key='kitodo.tools.fulltext.switch-off' extensionName='slub_template' />" href="#">
                                    <f:translate key='kitodo.tools.fulltext.switch-on' extensionName='slub_template' />
                                </a>
                            </li>
                        </f:then>
                        <f:else>
                            <li class="fulltext no-fulltext">
                                <a title="<f:translate key='kitodo.tools.fulltext.not-available' extensionName='slub_template' />" href="#"><span><f:translate key='kitodo.tools.fulltext.not-available' extensionName='slub_template' /></span></a>
                            </li>
                        </f:else>
                    </f:if>

                    <f:comment><!-- [License informations] ------------------------------ --></f:comment>
                    <li class="license">
                        <f:link.page
                            pageUid="{settings.termsOfUsePid}"
                            class="terms-of-use"
                            target="_blank"
                            title="{dc:pageInfo(uid:'{settings.termsOfUsePid}', field:'title')}">{dc:pageInfo(uid:'{settings.termsOfUsePid}', field:'title')}
                        </f:link.page>
                    </li>

                    <f:comment><!-- [Permalink] ----------------------------------------- --></f:comment>
                    <li class="permalink">
                        <f:if condition="<dc:xpath xpath='(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:identifier[@type=\"purl\"])[1]' />">
                          <f:link.external
                              uri="<dc:xpath xpath='(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:identifier[@type=\"purl\"])[1]' />/{gp-page}"
                              class="purl"
                              target="_blank"
                              title="<f:translate key='kitodo.tools.purl.singlePage' extensionName='slub_template' />">
                                  <span class="perma-label"><f:translate key='kitodo.tools.purl.singlePage' extensionName='slub_template' /></span>
                                  <dc:xpath xpath='(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:identifier[@type="purl"])[1]' />/{gp-page}
                          </f:link.external>
                        </f:if>
                    </li>

                    <f:comment><!-- [Image adjustments] --------------------------------- --></f:comment>
                    <li class="image-adjustments">
                        <div class="tx-dlf-toolsImagemanipulation">
                            <span class="tx-dlf-tools-imagetools" id="tx-dlf-tools-imagetools"
                                data-dic="imagemanipulation-on:<f:translate key='kitodo.tools.imagemanipulation.switch-on' extensionName='slub_template' />;imagemanipulation-off:<f:translate key='kitodo.tools.imagemanipulation.switch-off' extensionName='slub_template' />;reset:<f:translate key='kitodo.tools.imagemanipulation.reset' extensionName='slub_template' />;saturation:<f:translate key='kitodo.tools.imagemanipulation.saturation' extensionName='slub_template' />;hue:<f:translate key='kitodo.tools.imagemanipulation.hue' extensionName='slub_template' />;contrast:<f:translate key='kitodo.tools.imagemanipulation.contrast' extensionName='slub_template' />;brightness:<f:translate key='kitodo.tools.imagemanipulation.brightness' extensionName='slub_template' />;invert:<f:translate key='kitodo.tools.imagemanipulation.invert' extensionName='slub_template' />"
                                title="<f:translate key='kitodo.tools.imagemanipulation.not-available' extensionName='slub_template' />">
                            </span>
                        </div>
                    </li>

                    <f:comment><!-- [Fulltext search] ----------------------------------- --></f:comment>
                    <f:if condition="<dc:xpath xpath='(//mets:fileSec/mets:fileGrp[@USE=\"FULLTEXT\"]/mets:file[1]/mets:FLocat/@xlink:href)[1]' />">
                        <f:then>
                            <li class="fulltext-search">
                              <f:cObject typoscriptObjectPath="plugin.tx_dlf_toolsSearchindocument" />
                        </f:then>
                        <f:else>
                            <f:comment><!-- no fulltext present - we need the plugin for internal use anyway --></f:comment>
                            <li class="fulltext-search hidden">
                        </f:else>
                    </f:if>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


</f:section>
